# /dev/sd* rules
ACTION=="add", KERNEL=="sd[a-z]*", RUN+="/bin/mkdir -p /mnt/%k"
ACTION=="add", KERNEL=="sd[a-z]*", RESULT!="", RUN+="/bin/mount -t $RESULT -o rw,noauto,sync,noexec,nodev,noatime /dev/%k /mnt/%k", OPTIONS="last_rule"
ACTION=="remove", KERNEL=="sd[a-z]*", RUN+="/bin/umount -l /mnt/%k"
ACTION=="remove", KERNEL=="sd[a-z]*", RUN+="/bin/rmdir /mnt/%k", OPTIONS="last_rule"


